<app-site-base>
  <!-- banner section -->
  <section class="banner-19">
    <div class="banner-layer">
      <div class="main-content-top">
        <div class="container">
          <div class="main-content abstract">
            <img src="assets/site/images/logos/logo_cor.svg" alt="Atlas das Pastagens"
                 title="Atlas das Pastagens Brasileiras"/>
            <p class="mt-3 ">Uma plataforma, online e gratuita, desenvolvida e mantida pelo Lapig/UFG, para tornar acessível os resultados das pesquisas desenvolvidas no âmbito das pastagens brasileiras.</p>
            <a href="https://plataformbase.lapig.iesa.ufg.br/" class="btn btn-style mt-md-5 mt-4">Acesse a Plataforma</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //banner section -->
  <!-- about section -->
  <div class="w3l-content-photo-5 py-5">
    <div class="container py-lg-5 py-sm-4">
      <div class="row align-items-center">
        <div class="col-lg-6 content-image order-lg-first order-last">
          <iframe src="https://www.youtube.com/embed/ZZnHtkblmro" width="100%" height="400" title="Atlas das Pastagens" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
        </div>
        <div class="col-lg-6 col-md-10 mx-auto content-right mb-lg-0 mb-5 pl-lg-5 order-lg-last order-first">
          <h3 class="title-style-2">Atlas das pastagens</h3>
          <p class="border-top-w3l pt-4 mt-4">A plataforma disponibiliza, atualmente, seis bases de dados: (1) mapeamento
            das áreas ocupadas por pastagens no Brasil; (2) mapeamento da qualidade dessas áreas, estimativas do estoque
            de carbono nas pastagens do bioma Cerrado; (3) informações do rebanho bovino brasileiro analisadas a partir
            dos dados da pesquisa pecuária municipal (IBGE); (4) séries temporais de classificação de uso e cobertura da
            terra por inspeção visual de dados dos satélites Landsat; (5) avaliação da condição das pastagens em campanhas
            de campo realizadas por equipes do laboratório.</p>
          <!--      <a href="#small-dialog" class="popup-with-zoom-anim d-flex align-items-center mt-md-5 mt-4">
                   <span class="video-play-icon mr-3">
                       <span class="far fa-play-circle"></span>
                   </span>Veja nosso <br>Vídeo
               </a> -->

          <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
          <div id="small-dialog" class="zoom-anim-dialog mfp-hide">

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //about section -->

  <!-- services section -->
  <div class="service-section py-5">
    <div class="container py-md-5 py-4">
      <div class="row align-items-center mb-5">
        <div class="col-md-6 section-heading">
          <h3 class="title-style-2">
            Dados em destaque</h3>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 item">
          <div class="card" >
            <div class="card-header p-0 position-relative border-0">
              <img class="d-block img-responsive" src="assets/site/images/pastagem.png" alt="Áreas de pastagem">
            </div>
            <div class="card-body service-details">
              <a target="_blank" href="assets/site/images/metodos/Metadados - Mapeamento da qualidade das pastagens brasiliera - OliveriaSantosC.pdf" class="service-heading">Áreas de pastagem</a>
              <p>Conjunto de dados que compreende uma série temporal composta por mapas anuais das pastagens brasileiras abrangendo o período de 1985 a 2020. O mapeamento foi baseado em dados Landsat, classificados de modo não supervisionado por meio do Random Forest, na plataforma Earth Engine da Google;
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
          <div class="card">
            <div class="card-header p-0 position-relative border-0">
              <img class="d-block img-responsive" src="assets/site/images/qualidade_pastagem.png" alt="Qualidade das pastagens">
            </div>
            <div class="card-body service-details">
              <a target="_blank" href="assets/site/images/metodos/Metadados - Mapeamento da qualidade das pastagens brasiliera - OliveriaSantosC.pdf" class="service-heading">Qualidade das pastagens</a>
              <p>Compreende o mapeamento da qualidade das pastagens brasileiras, tomando por referência de áreas de pastagens o conjunto de dados “Áreas de Pastagens”. Por meio de índices de vegetação obtidos por sensoriamento remoto, as pastagens brasileiras foram classificadas em três níveis de degradação (Ausente, Intermediário e Severa), para os anos de 2010 e 2018;</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
          <div class="card" >
            <div class="card-header p-0 position-relative border-0">
              <a target="_blank" href="assets/site/images/metodos/Metadados - Mapeamento da qualidade das pastagens brasiliera - OliveriaSantosC.pdf">
                <img class="d-block img-responsive" src="assets/site/images/estoque.png" alt="card-image">
              </a>
            </div>
            <div class="card-body service-details">
              <a target="_blank" href="assets/site/images/metodos/Metadados - Mapeamento da qualidade das pastagens brasiliera - OliveriaSantosC.pdf" class="service-heading">Estoque de carbono </a>
              <p>
                Esse conjunto de dados é parte de um experimento para avaliação do uso de modelos baseados em ciclagem biogeoquímica na estimativas do estoque de carbono em pastagens em larga escala. Contendo estimativas do estoque de carbono no solo, nas raízes e na biomassa aérea das pastagens do bioma Cerrado.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //services section -->

  <!-- testimonials section -->
  <section class="w3l-clients py-5" id="testimonials">
    <div class="container py-md-5 py-4">
      <div class="row align-items-center mb-5">
        <div class="col-md-6 section-heading">
          <h3 class="title-style-2">Equipe</h3>
        </div>
      </div>
      <div id="owl-team" #owl class="owl-carousel owl-theme pb-5 pt-5">
        <div class="item">
          <div class="team-block-single">
            <div class="team-grids">
              <a href="#team-single">
                <img src="assets/site/images/team/laerte.jpeg" class="img-fluid" alt="Laerte Guimarães ferreira Júnior - Coordenador da plataforma">
              </a>
            </div>
            <div class="team-bottom-block p-2">
              <h5 class="member mb-1">Laerte Guimarães Ferreira</h5>
              <small>Coordenador da plataforma</small>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="team-block-single">
            <div class="team-grids">
              <a href="#">
                <img src="assets/site/images/team/claudinei.jpeg" class="img-fluid" alt="Claudinei Oliveira dos Santos - pesquisador e analista socioambiental">
              </a>
            </div>
            <div class="team-bottom-block p-2">
              <h5 class="member mb-1">Claudinei O. dos Santos</h5>
              <small>Pesquisador e Analista Socioambiental</small>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="team-block-single">
            <div class="team-grids">
              <a href="#team-single">
                <img src="assets/site/images/team/leandro.jpeg" class="img-fluid" alt="Leandro Leal Parente - Pesquisador e Analista Socioambiental">
              </a>
            </div>
            <div class="team-bottom-block p-2">
              <h5 class="member mb-1">Leandro Leal Parente</h5>
              <small>Pesquisador e Analista Socioambiental</small>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="team-block-single">
            <div class="team-grids">
              <a href="#">
                <img src="assets/site/images/team/vinicius.jpeg" class="img-fluid" alt="Vinícius Vieira Mesquita -  Pesquisador e Analista Socioambiental">
              </a>
            </div>
            <div class="team-bottom-block p-2">
              <h5 class="member mb-1">Vinícius Vieira Mesquita</h5>
              <small>Pesquisador e Analista Socioambiental</small>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="team-block-single">
            <div class="team-grids">
              <a href="#">
                <img src="assets/site/images/team/ana.jpeg" class="img-fluid" alt="Ana Paula Matos e Silva - Pesquisadora e Analista Socioambiental">
              </a>
            </div>
            <div class="team-bottom-block p-2">
              <h5 class="member mb-1">Ana Paula Matos e Silva</h5>
              <small> Pesquisadora e Analista Socioambiental</small>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="team-block-single">
            <div class="team-grids">
              <a href="#">
                <img src="assets/site/images/team/lana.jpeg" class="img-fluid" alt="Lana Mara Silva Teixeira -pesquisadora e analista banco de dados.">
              </a>
            </div>
            <div class="team-bottom-block p-2">
              <h5 class="member mb-1">Lana Mara Silva Teixeira</h5>
              <small> Pesquisadora e Analista Socioambiental</small>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="team-block-single">
            <div class="team-grids">
              <a href="#">
                <img src="assets/site/images/team/sergio.jpeg" class="img-fluid" alt="Sérgio H. de Moura Nogueira - Pesquisador e Analista Socioambiental">
              </a>
            </div>
            <div class="team-bottom-block p-2">
              <h5 class="member mb-1">Sérgio H. de Moura Nogueira</h5>
              <small>Pesquisador e Analista Socioambiental</small>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="team-block-single">
            <div class="team-grids">
              <a href="#">
                <img src="assets/site/images/team/tharles.jpeg" class="img-fluid" alt="Tharles de Sousa Andrade - Desenvolvedor">
              </a>
            </div>
            <div class="team-bottom-block p-2">
              <h5 class="member mb-1">Tharles de Sousa Andrade</h5>
              <small>Desenvolvedor</small>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="team-block-single">
            <div class="team-grids">
              <a href="#">
                <img src="assets/site/images/team/mariana.jpeg" class="img-fluid" alt="Mariana de Oliveira Gomes - Gestora de Projetos">
              </a>
            </div>
            <div class="team-bottom-block p-2">
              <h5 class="member mb-1">Mariana de Oliveira Gomes</h5>
              <small>Gestora de Projetos</small>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="team-block-single">
            <div class="team-grids">
              <a href="#">
                <img src="assets/site/images/team/luiz.jpeg" class="img-fluid" alt="Luiz Mário Lutosa Pascoal - Desenvolvedor">
              </a>
            </div>
            <div class="team-bottom-block p-2">
              <h5 class="member mb-1">Luiz Mário Lutosa Pascoal</h5>
              <small>Desenvolvedor</small>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="team-block-single">
            <div class="team-grids">
              <a href="#">
                <img src="assets/site/images/team/roberto.jpeg" class="img-fluid" alt="Roberto Urzêda - Analista de Infraestrutura">
              </a>
            </div>
            <div class="team-bottom-block p-2">
              <h5 class="member mb-1">Roberto Urzêda</h5>
              <small>Analista de Infraestrutura</small>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="team-block-single">
            <div class="team-grids">
              <a href="#">
                <img src="assets/site/images/team/renato.jpeg" class="img-fluid" alt="Renato Gomes Silvério - Analista de Infraestrutura">
              </a>
            </div>
            <div class="team-bottom-block p-2">
              <h5 class="member mb-1">Renato Gomes Silvério</h5>
              <small>Analista de Infraestrutura</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //testimonials section -->

  <!-- content section -->
  <section class="w3l-content-mid py-5">
    <div class="container py-md-5 py-4">
      <div class="diferencial">
        <h3 class="title-w3l">Diferencial</h3>
        <p class="mt-3 text-white">
          Na plataforma, o usuário pode visualizar de forma geograficamente espacializada, as áreas ocupadas por pastagens no período entre 1985 e 2019,
          e observar graficamente a evolução das pastagens (~121 milhões de hectares em 1985 para ~171 milhões em 2019) e do rebanho bovino
          (~98 milhões de unidades animais em 1985 para ~158 milhões em 2019).
        </p>
        <p class="mt-2 text-white">
          Para os anos de 2010 e 2018, o usuário pode visualizar e comparar a qualidade das pastagens brasileiras,
          que foram classificadas em três classes de acordo com sua condição nos respectivos anos: (a) degradação severa;
          (b) degradação intermediária; e (c) degradação ausente ou pastagens em boa condição.
        </p>
        <p class="mt-2 text-white">
          Além da visualização de todas as bases de dados disponíveis na plataforma, os dados estão disponíveis para download em formato geo-espacializado
          (shapefile) ou tabela (csv), sendo os dados abertos um dos diferenciais da plataforma.
        </p>
      </div>
    </div>
  </section>
  <!-- //content section -->

</app-site-base>
