<app-site-base>
  <!-- inner banner -->
  <section class="metodos-banner">
    <div class="w3l-breadcrumb py-5">
      <div class="container py-xl-5 py-md-4 mt-5">
        <h4 class="inner-text-title font-weight-bold mb-sm-2">Procedimentos Metodológicos</h4>
        <ul class="breadcrumbs-custom-path">
          <li><a href="/">Home</a></li>
          <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>Métodos</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //inner banner -->

  <!-- services section -->
  <div class="service-section py-5">
    <div class="container py-md-5 py-4">
      <div class="row align-items-center mb-5">
        <div class="col-md-6 section-heading">
          <h3 class="title-style-2">Métodos</h3>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 item">
          <div class="card">
            <a target="_blank" href="assets/site/images/metodos/Metadados - Mapeamento da qualidade das pastagens brasiliera - OliveriaSantosC.pdf">
              <div class="card-header p-0 position-relative border-0">
                <img class="d-block img-responsive" src="assets/site/images/pastagem.png" alt="Áreas de pastagem">
              </div>
              <div class="card-body service-details">
                <a target="_blank" href="assets/site/images/metodos/Metadados - Mapeamento da qualidade das pastagens brasiliera - OliveriaSantosC.pdf" class="service-heading">Áreas de pastagem</a>
                <p>Conjunto de dados que compreende uma série temporal composta por mapas anuais das pastagens brasileiras abrangendo o período de 1985 a 2019. O mapeamento foi baseado em dados Landsat, classificados de modo não supervisionado por meio do Random Forest, na plataforma Earth Engine da Google;
                </p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
          <div class="card">
            <a target="_blank" href="assets/site/images/metodos/Metadados - Mapeamento da qualidade das pastagens brasiliera - OliveriaSantosC.pdf">
              <div class="card-header p-0 position-relative border-0">
                <img class="d-block img-responsive" src="assets/site/images/qualidade_pastagem.png" alt="Qualidade das pastagens">
              </div>
              <div class="card-body service-details">
                <a target="_blank" href="assets/site/images/metodos/Metadados - Mapeamento da qualidade das pastagens brasiliera - OliveriaSantosC.pdf" class="service-heading">Qualidade das pastagens</a>
                <p>Compreende o mapeamento da qualidade das pastagens brasileiras, tomando por referência de áreas de pastagens o conjunto de dados “Áreas de Pastagens”. Por meio de índices de vegetação obtidos por sensoriamento remoto, as pastagens brasileiras foram classificadas em três níveis de degradação (Ausente, Intermediário e Severa), para os anos de 2010 e 2018;</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
          <div class="card">
            <a target="_blank" href="assets/site/images/metodos/Metadados - Mapeamento da qualidade das pastagens brasiliera - OliveriaSantosC.pdf">
              <div class="card-header p-0 position-relative border-0">
                <a target="_blank" href="assets/site/images/metodos/Metadados - Mapeamento da qualidade das pastagens brasiliera - OliveriaSantosC.pdf">
                  <img class="d-block img-responsive" src="assets/site/images/estoque.png" alt="card-image">
                </a>
              </div>
              <div class="card-body service-details">
                <a target="_blank" href="assets/site/images/metodos/Metadados - Mapeamento da qualidade das pastagens brasiliera - OliveriaSantosC.pdf" class="service-heading">Estoque de carbono </a>
                <p>Esse conjunto de dados é parte de um experimento para avaliação do uso de modelos baseados em ciclagem biogeoquímica na estimativas do estoque de carbono em pastagens em larga escala. Contendo estimativas do estoque de carbono no solo, nas raízes e na biomassa aérea das pastagens do bioma Cerrado.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-lg-4 col-md-6 item">
          <div class="card">
            <a target="_blank" href="assets/site/images/metodos/Metadados - Mapeamento da qualidade das pastagens brasiliera - OliveriaSantosC.pdf">
              <div class="card-header p-0 position-relative border-0">
                <img class="d-block img-responsive" src="assets/site/images/rebanho.jpg" alt="Áreas de pastagem">
              </div>
              <div class="card-body service-details">
                <a target="_blank" href="assets/site/images/metodos/Metadados - Mapeamento da qualidade das pastagens brasiliera - OliveriaSantosC.pdf" class="service-heading">Rebanho bovino</a>
                <p>Série temporal do rebanho bovino por município, abrangendo o período de 1985 a 2019. Esse conjunto de dados é disponibilizado em Unidade Animal (UA) para cada município brasileiro, calculados por meio de uma análise integrada de dados da Pesquisa Pecuária Municipal (PPM) e da composição do rebanho bovino (Censo Agropecuário), ambos disponibilizados pelo IBGE;
                </p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
          <div class="card">
            <a target="_blank" href="assets/site/images/metodos/Metadados - Mapeamento da qualidade das pastagens brasiliera - OliveriaSantosC.pdf">
              <div class="card-header p-0 position-relative border-0">
                <img class="d-block img-responsive" src="assets/site/images/qualidade_pastagem.png" alt="Qualidade das pastagens">
              </div>
              <div class="card-body service-details">
                <a target="_blank" href="assets/site/images/metodos/Metadados - Mapeamento da qualidade das pastagens brasiliera - OliveriaSantosC.pdf" class="service-heading">Pontos inspecionados visualmente</a>
                <p>Conjunto georreferenciado de pontos para todo o território brasileiro, sendo atribuídas classes de uso e cobertura do solo referente a cada ano no período de 1985 a 2017. Foram utilizadas imagens Landsat provenientes dos sensores TM, ETM+ e OLI. Buscou-se também abordar os critérios adotados, dificuldades e especificidades encontradas quanto à interpretação de imagens em cada um dos 6 biomas brasileiros;</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
          <div class="card">
            <a target="_blank" href="assets/site/images/metodos/Metadados - Mapeamento da qualidade das pastagens brasiliera - OliveriaSantosC.pdf">
              <div class="card-header p-0 position-relative border-0">
                  <img class="d-block img-responsive" src="assets/site/images/estoque.png" alt="card-image">
              </div>
              <div class="card-body service-details">
                <a target="_blank" href="assets/site/images/metodos/Metadados - Mapeamento da qualidade das pastagens brasiliera - OliveriaSantosC.pdf" class="service-heading">Pontos de campo</a>
                <p>Com o propósito de validar mapas produzidos pelo LAPIG-UFG no âmbito do MapBiomas e de subsidiar pesquisas voltadas à qualificação das pastagens brasileiras, seis atividades de campo foram realizadas durante os anos de 2017 e 2018. Um grande conjunto de pontos georreferenciados foi formado e organizado com dados de uso/cobertura do solo e indicativos de qualidade das pastagens;</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //services section -->

</app-site-base>
