<app-site-base>
  <!-- inner banner -->
  <section class="artigos-banner">
    <div class="w3l-breadcrumb py-5">
      <div class="container py-xl-5 py-md-4 mt-5">
        <h4 class="inner-text-title font-weight-bold mb-sm-2">Artigos Relacionados</h4>
        <ul class="breadcrumbs-custom-path">
          <li><a href="/">Home</a></li>
          <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>Artigos</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //inner banner -->

  <!-- blog section -->
  <div class="w3l-homeblock2 py-5">
    <div class="container py-md-5 py-4">
      <div class="row align-items-center mb-5">
        <div class="col-md-6 section-heading">
          <h3 class="title-style-2">Artigos</h3>
        </div>
      </div>
      <div class="cards-artigos" >
        <div class="row m-3">
          <div class="col-lg-12">
            <div class="bg-clr-white hover-box">
              <div class="row align-items-center">
                <div class="col-sm-4 pl-5 position-relative">
                  <a href="https://doi.org/10.1016/j.jag.2017.06.003" target="_blank">
                    <img class="img-fluid d-block artigo-img"
                         src="assets/site/images/artigos/Monitoring%20the%20brazilian%20pasturelands.png"
                         alt="https://doi.org/10.1016/j.jag.2017.06.003">
                  </a>
                </div>
                <div class="col-sm-8">
                  <div class="card-body blog-details align-self pl-sm-0">
                    <a href="https://doi.org/10.1016/j.jag.2017.06.003" target="_blank" class="blog-desc">Monitoring the
                      brazilian pasturelands: A new mapping approach based on the landsat 8 spectral and temporal
                      domains</a>
                    <p>Neste estudo, utilizamos todo o conjunto de imagens Landsat 8 disponíveis para o Brasil em 2015, a
                      partir das quais foram derivadas dezenas de métricas sazonais, para produzir, por meio de critérios
                      objetivos e estratégias de classificação automatizada, um novo mapa de pastagens para o país.
                    </p>
                    <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                      <h5 class="text-blog-e">Autores: Parente et al</h5>
                      <a href="https://doi.org/10.1016/j.jag.2017.06.003" target="_blank" class="blog-icon-e">
                        <img class="img-fluid d-block doi" src="assets/site/images/doi.svg"
                             alt="https://doi.org/10.1016/j.jag.2017.06.003">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-lg-12 ">
            <div class="bg-clr-white hover-box">
              <div class="row align-items-center">
                <div class="col-sm-4 pl-5 position-relative">
                  <a href=" https://doi.org/10.3390/rs10040606" target="_blank">
                    <img class="img-fluid d-block artigo-img"
                         src="assets/site/images/artigos/Assessing%20the%20Spatial%20and%20Occupation%20Dynamics%20of%20the%20Brazilian%20Pasturelands.png"
                         alt=" https://doi.org/10.3390/rs10040606">
                  </a>
                </div>
                <div class="col-sm-8">
                  <div class="card-body blog-details align-self pl-sm-0">
                    <a href=" https://doi.org/10.3390/rs10040606" target="_blank" class="blog-desc">Assessing the Spatial
                      and Occupation Dynamics of the Brazilian Pasturelands Based on the Automated Classification of MODIS
                      Images from 2000 to 2016</a>
                    <p>
                      Este estudo mapeou, por meio de critérios objetivos e métodos de classificação automática (Random
                      Forest) aplicados a imagens MODIS (Moderate Resolution Imaging Spectroradiometer), a totalidade das
                      pastagens brasileiras entre 2000 e 2016.
                    </p>
                    <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                      <h5 class="text-blog-e">Autores: Parente e Ferreira</h5>
                      <a href=" https://doi.org/10.3390/rs10040606" target="_blank" class="blog-icon-e">
                        <img class="img-fluid d-block doi" src="assets/site/images/doi.svg"
                             alt=" https://doi.org/10.3390/rs10040606">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-lg-12">
            <div class="bg-clr-white hover-box">
              <div class="row align-items-center ">
                <div class="col-sm-4 pl-5 position-relative">
                  <a href="https://doi.org/10.1016/j.rse.2019.111301" target="_blank">
                    <img class="img-fluid d-block artigo-img"
                         src="assets/site/images/artigos/Assessing%20the%20pasturelands%20and%20livestock%20dynamics%20in%20Brazil,%20from%201985%20to%202017.png"
                         alt="https://doi.org/10.1016/j.rse.2019.111301">
                  </a>
                </div>
                <div class="col-sm-8">
                  <div class="card-body blog-details align-self pl-sm-0">
                    <a href="https://doi.org/10.1016/j.rse.2019.111301" target="_blank" class="blog-desc">
                      Assessing the pasturelands and livestock dynamics in Brazil, from 1985 to 2017: A novel approach
                      based on high spatial resolution imagery and Google Earth Engine cloud computing
                    </a>
                    <p>
                      Este trabalho mapeou, anualmente e de forma inédita, a totalidade das pastagens brasileiras, de 1985
                      a 2017. Com uma precisão geral de cerca de 90%, os 33 mapas produzidos indicaram a área de pastagem
                      variando de ~ 118 Mha ± 3,41% ( 1985) para ~ 178 Mha ± 2,53% (2017), com essa expansão ocorrendo
                      principalmente na região norte do país e em menor medida no centro-oeste.
                    </p>
                    <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                      <h5 class="text-blog-e">Autores: Parente et al</h5>
                      <a href="https://doi.org/10.1016/j.rse.2019.111301" target="_blank" class="blog-icon-e">
                        <img class="img-fluid d-block doi" src="assets/site/images/doi.svg"
                             alt="https://doi.org/10.1016/j.rse.2019.111301">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-lg-12">
            <div class="bg-clr-white hover-box">
              <div class="row align-items-center">
                <div class="col-sm-4 pl-5 position-relative">
                  <a href="https://doi.org/10.3390/rs5010307" target="_blank">
                    <img class="img-fluid d-block artigo-img"
                         src="assets/site/images/artigos/Biophysical%20Properties%20of%20Cultivated%20Pastures%20in%20the%20Brazilian%20Savanna%20Biome.png"
                         alt="https://doi.org/10.1016/j.jag.2017.06.003">
                  </a>
                </div>
                <div class="col-sm-8">
                  <div class="card-body blog-details align-self pl-sm-0">
                    <a href="https://doi.org/10.3390/rs5010307" target="_blank" class="blog-desc">
                      Biophysical Properties of Cultivated Pastures in the Brazilian Savanna Biome: An Analysis in the
                      Spatial-Temporal Domains Based on Ground and Satellite Data
                    </a>
                    <p>
                      O objetivo principal deste estudo foi a avaliação regional das propriedades biofísicas das
                      pastagens, por meio da escala de dados verdadeiros das estações chuvosa e seca (biomassa total,
                      biomassa verde e% de cobertura verde) por meio do uso combinado de alta (Landsat-TM ) e imagens de
                      índice de vegetação de resolução espacial moderada (MODIS).
                    </p>
                    <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                      <h5 class="text-blog-e">Autores: Ferreira et al</h5>
                      <a href="https://doi.org/10.3390/rs5010307" target="_blank" class="blog-icon-e">
                        <img class="img-fluid d-block doi" src="assets/site/images/doi.svg"
                             alt="https://doi.org/10.3390/rs5010307">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-lg-12">
            <div class="bg-clr-white hover-box">
              <div class="row align-items-center">
                <div class="col-sm-4 pl-5 position-relative">
                  <a href="https://doi.org/10.1590/S0100-204X2018000900009" target="_blank">
                    <img class="img-fluid d-block artigo-img"
                         src="assets/site/images/artigos/Livestock%20intensification%20potential%20in%20Brazil%20based%20on%20agricultural%20census%20and%20satellite%20data%20analysis.png"
                         alt="https://doi.org/10.1016/j.jag.2017.06.003">
                  </a>
                </div>
                <div class="col-sm-8">
                  <div class="card-body blog-details align-self pl-sm-0">
                    <a href="https://doi.org/10.1590/S0100-204X2018000900009" target="_blank" class="blog-desc">
                      Livestock intensification potential in Brazil based on agricultural census and satellite data
                      analysis
                    </a>
                    <p>
                      O objetivo deste trabalho foi avaliar o potencial de intensificação da pecuária no Brasil. As taxas
                      de lotação de gado de corte foram estimadas de acordo com dados do censo agropecuário da pecuária
                      dos municípios brasileiros. A capacidade de suporte da pastagem foi obtida pela combinação de
                      imagens de espectrorradiômetro de imagem de resolução moderada (Modis) de produtividade primária
                      bruta e dados de demanda de matéria seca por unidade animal (UA).
                    </p>
                    <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                      <h5 class="text-blog-e">Autores: Arantes et al</h5>
                      <a href="https://doi.org/10.1590/S0100-204X2018000900009" target="_blank" class="blog-icon-e">
                        <img class="img-fluid d-block doi" src="assets/site/images/doi.svg"
                             alt="https://doi.org/10.1590/S0100-204X2018000900009">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-lg-12">
            <div class="bg-clr-white hover-box">
              <div class="row align-items-center">
                <div class="col-sm-4 pl-5 position-relative">
                  <a href="https://doi.org/10.1117/1.JRS.12.026006" target="_blank">
                    <img class="img-fluid d-block artigo-img"
                         src="assets/site/images/artigos/MODIS%20estimates%20of%20pasture%20productivity%20in%20the%20Cerrado%20based%20on%20ground%20and%20Landsat-8%20data%20extrapolations.png"
                         alt="https://doi.org/10.1016/j.jag.2017.06.003">
                  </a>
                </div>
                <div class="col-sm-8">
                  <div class="card-body blog-details align-self pl-sm-0">
                    <a href="https://doi.org/10.1117/1.JRS.12.026006" target="_blank" class="blog-desc">
                      MODIS estimates of pasture productivity in the Cerrado based on ground and Landsat-8 data
                      extrapolations
                    </a>
                    <p>
                      Neste estudo, combinamos dados de campo e de satélite para avaliar as características biofísicas e
                      os padrões de produtividade das pastagens do Cerrado. De outubro de 2013 a setembro de 2014, foram
                      coletados dados de campo de biomassa total e verde e porcentagem de cobertura verde (% GC) em duas
                      áreas de estudo localizadas no município de Uberlândia, Estado de Minas Gerais.
                    </p>
                    <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                      <h5 class="text-blog-e">Autores: Brito et al</h5>
                      <a href="https://doi.org/10.1117/1.JRS.12.026006" target="_blank" class="blog-icon-e">
                        <img class="img-fluid d-block doi" src="assets/site/images/doi.svg"
                             alt="https://doi.org/10.1117/1.JRS.12.026006">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-lg-12">
            <div class="bg-clr-white hover-box">
              <div class="row align-items-center">
                <div class="col-sm-4 pl-5 position-relative">
                  <a href="https://repositorio.bc.ufg.br/tede/handle/tede/8075" target="_blank">
                    <img class="img-fluid d-block artigo-img"
                         style=""
                         src="assets/site/images/artigos/Caracterização%20biofísica%20e%20potencial%20à%20intensificação%20sustentável%20da%20pecuária%20brasileira%20em%20pastagens.png"
                         alt="https://doi.org/10.1016/j.jag.2017.06.003">
                  </a>
                </div>
                <div class="col-sm-8">
                  <div class="card-body blog-details align-self pl-sm-0">
                    <a href="https://repositorio.bc.ufg.br/tede/handle/tede/8075" target="_blank" class="blog-desc">
                      Caracterização biofísica e potencial à intensificação sustentável da pecuária brasileira em
                      pastagens
                    </a>
                    <p>
                      Este trabalho teve por objetivo avaliar o vigor e o potencial de intensificação das pastagens
                      brasileiras. Para obter o vigor das pastagens, gerou-se um Índice de Vigor do Pasto (PVI), por meio
                      da integração dos coeficientes α (intercepto) e β (slope), obtidos da regressão linear do índice de
                      vegetação (NDVI) ao longo do tempo (2000 a 2017).
                    </p>
                    <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                      <h5 class="text-blog-e">Autores: Arantes, Arielle Elias</h5>
                      <a href="https://repositorio.bc.ufg.br/tede/handle/tede/8075" target="_blank" class="blog-icon-e">
                        <img class="img-fluid d-block doi" src="assets/site/images/doi.svg"
                             alt="https://repositorio.bc.ufg.br/tede/handle/tede/8075">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-lg-12">
            <div class="bg-clr-white hover-box">
              <div class="row align-items-center">
                <div class="col-sm-4 pl-5 position-relative">
                  <a href="https://doi.org/10.14393/RCT153508" target="_blank">
                    <img class="img-fluid d-block artigo-img"
                         src="assets/site/images/artigos/Pastagens%20degradadas,%20uma%20herança%20dos%20imóveis%20rurais%20desapropriados%20para%20os%20assentamentos%20rurais%20do%20Cerrado%20goiano.png"
                         alt="https://doi.org/10.1016/j.jag.2017.06.003">
                  </a>
                </div>
                <div class="col-sm-8">
                  <div class="card-body blog-details align-self pl-sm-0">
                    <a href="https://doi.org/10.14393/RCT153508" target="_blank" class="blog-desc">
                      Pastagens degradadas, uma herança dos imóveis rurais desapropriados para os assentamentos rurais do
                      Cerrado goiano
                    </a>
                    <p>
                      O presente artigo está pautado em dois objetivos: I) verificar a predominância de pastagens
                      degradadas nos imóveis rurais desapropriados por meio da política de reforma agrária no estado de
                      Goiás; e II) avaliar o potencial dos dados satelitários quanto a determinação das condições
                      produtivas da terra.
                    </p>
                    <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                      <h5 class="text-blog-e">Autores: Gosh et al</h5>
                      <a href="https://doi.org/10.14393/RCT153508" target="_blank" class="blog-icon-e">
                        <img class="img-fluid d-block doi" src="assets/site/images/doi.svg"
                             alt="https://doi.org/10.14393/RCT153508">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-lg-12">
            <div class="bg-clr-white hover-box">
              <div class="row align-items-center">
                <div class="col-sm-4 pl-5 position-relative">
                  <a href="https://doi.org/10.1016/j.landusepol.2020.104740" target="_blank">
                    <img class="img-fluid d-block artigo-img"
                         src="assets/site/images/artigos/Land-use%20dynamics%20in%20a%20Brazilian%20agricultural%20frontier%20region,%201985-2017.png"
                         alt="https://doi.org/10.1016/j.jag.2017.06.003">
                  </a>
                </div>
                <div class="col-sm-8">
                  <div class="card-body blog-details align-self pl-sm-0">
                    <a href="https://doi.org/10.1016/j.landusepol.2020.104740" target="_blank" class="blog-desc">
                      Land-use dynamics in a Brazilian agricultural frontier region, 1985-2017
                    </a>
                    <p>
                      Neste estudo, aplicamos técnicas de amostragem estatística a dados de sensoriamento remoto (imagens Landsat de 1985 a 2017) para recuperar informações sobre a dinâmica do uso da terra em uma das regiões de fronteira agrícola mais proeminentes do mundo.
                    </p>
                    <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                      <h5 class="text-blog-e">Autores:  Lopes et al
                      </h5>
                      <a href="https://doi.org/10.1016/j.landusepol.2020.104740" target="_blank" class="blog-icon-e">
                        <img class="img-fluid d-block doi" src="assets/site/images/doi.svg"
                             alt="https://doi.org/10.1016/j.landusepol.2020.104740">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-lg-12">
            <div class="bg-clr-white hover-box">
              <div class="row align-items-center">
                <div class="col-sm-4 pl-5 position-relative">
                  <a href="https://doi.org/10.26895/geosaberes.v11i0.819" target="_blank">
                    <img class="img-fluid d-block artigo-img"
                         src="assets/site/images/artigos/The%20livestock%20in%20Goiás%20seen%20through%20the%20GIS%20Window.png"
                         alt="https://doi.org/10.26895/geosaberes.v11i0.819">
                  </a>
                </div>
                <div class="col-sm-8">
                  <div class="card-body blog-details align-self pl-sm-0">
                    <a href="https://doi.org/10.26895/geosaberes.v11i0.819" target="_blank" class="blog-desc">
                      The livestock in Goiás seen through the GIS Window
                    </a>
                    <p>
                      Este trabalho visa, por meio de um cenário sobre a dinâmica da pecuária goiana, a partir de uma espacialização dos dados pecuários produzidos pelo IBGE de 1974 a 2017, apresentar o potencial de um SIG para estudar padrões em um determinado recorte temporal e espacial. Neste contexto, o SIG apresenta-se como uma ferramenta eficiente por proporcionar um conhecimento ágil sobre o espaço.
                    </p>
                    <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                      <h5 class="text-blog-e">Autores:  Lopes et al
                      </h5>
                      <a href="https://doi.org/10.26895/geosaberes.v11i0.819" target="_blank" class="blog-icon-e">
                        <img class="img-fluid d-block doi" src="assets/site/images/doi.svg"
                             alt="https://doi.org/10.26895/geosaberes.v11i0.819">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-lg-12">
            <div class="bg-clr-white hover-box">
              <div class="row align-items-center">
                <div class="col-sm-4 pl-5 position-relative">
                  <a href="https://doi.org/10.14393/SN-v32-2020-55795" target="_blank">
                    <img class="img-fluid d-block artigo-img"
                         src="assets/site/images/artigos/Tecnologia%20e%20degradação%20de%20pastagens%20na%20pecuária%20no%20Cerrado%20brasileiro.png"
                         alt="https://doi.org/10.14393/SN-v32-2020-55795">
                  </a>
                </div>
                <div class="col-sm-8">
                  <div class="card-body blog-details align-self pl-sm-0">
                    <a href="https://doi.org/10.14393/SN-v32-2020-55795" target="_blank" class="blog-desc">
                      Tecnologia e degradação de pastagens na pecuária no Cerrado brasileiro
                    </a>
                    <p>
                      Esta pesquisa tem por objetivo analisar a relação entre nível tecnológico de produção de bovinos e de degradação de pastagens na Bacia Hidrográfica do Rio Vermelho, em Goiás - Brasil.                  </p>
                    <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                      <h5 class="text-blog-e">Autores: Oliveira et al
                      </h5>
                      <a href="https://doi.org/10.14393/SN-v32-2020-55795" target="_blank" class="blog-icon-e">
                        <img class="img-fluid d-block doi" src="assets/site/images/doi.svg"
                             alt="https://doi.org/10.14393/SN-v32-2020-55795">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //blog section -->

</app-site-base>
